<%- model_class = Project -%>

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--1-col"></div>
	<div class="mdl-cell mdl-cell--10-col">
		<h2>Projects</h2>
	</div>
	<div class="mdl-cell mdl-cell--1-col"></div>
</div>


<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--1-col"></div>

	<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-cell mdl-cell--10-col mdl-cell--4-col-phone mdl-cell--8-col-tablet">

		<tbody>
			<% @projects.each do |project| %>
				<tr>
					<td class="mdl-data-table__cell--non-numeric">
						<span class ="mdl-badge" data-badge = <%= project.tasks.unfinished.count %>>
							<%= link_to project.title, project_path(project.id) %>
						</span>
					</td>

					<td >
						<%= link_to "mode_edit", edit_project_path(project.id) ,
						:class => 'mdl-button mdl-js-button mdl-button--icon material-icons' %>

						<%= link_to "clear", project_path(project.id), method: :delete, data: {confirm: "are you sure?"},
						:class => 'mdl-button mdl-js-button mdl-button--icon material-icons' %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>

	<div class="mdl-cell--3-col-phone mdl-cell--7-col-tablet"> </div>
	<div class="mdl-cell mdl-cell--1-col mdl-cell--1-col-phone mdl-cell--1-col-tablet">
		<a href="projects/new">
			<button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--2dp" >
				<i class="material-icons">add</i>
			</button>
		</a>
	</div>


</div>
