<%- model_class = Project -%>
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--1-col"></div>
	<div class="mdl-cell mdl-cell--10-col">
		<div class="page-header">
			<h2><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h2>
		</div>
	</div>
	<div class="mdl-cell mdl-cell--1-col"></div>
</div>



<%= render :partial => 'form' %>
